rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Permite leitura e escrita para mídias de ofertas e produtos
    match /offers/{allPaths=**} {
      allow read, write: if true;
    }

    match /products/{allPaths=**} {
      allow read, write: if true;
    }

    match /users/{userId}/avatars/{imageId} {
      allow read, write: if true;
    }

    match /users/{userId}/products/{imageId} {
      allow read, write: if true;
    }

    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
